.chatWrapper {
    display: grid;
    grid-template-columns: 1.8fr 2.2fr;
    grid-gap: 1em;
    text-align: center;
    margin-top: 30px;
}

.chatWrapper>div {
    margin: 0 5%;
}

.searchWrapper {
    padding: 0 10px;
}

.searchWrapper>input {
    width: -webkit-fill-available;
    padding: 10px 0 10px 10px;
    background: #FFFFFF;
    border-radius: 6px;
    font-size: 18px;
    line-height: 26px;
    color: #707C97;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
}

/*.searchWrapper>input:focus{*/
/*    outline: none;*/
/*}*/
.userList {
    margin: 15px 0 15px 0;
    height: 500px;
    overflow-y: scroll;
    padding: 0 10px;
}

.userList::-webkit-scrollbar,
.messages::-webkit-scrollbar {
    width: 6px;
    cursor: pointer;
}

.userList::-webkit-scrollbar-thumb,
.messages::-webkit-scrollbar-thumb {
    background: #B7BDCB;
    cursor: pointer;
    border-radius: 20px;
}

.myMessageWrapper {
    margin-left: 15%;
}

.messageWrapper {
    margin-right: 15%;
}

.myMessage {
    text-align: right;
    margin: 15px 15px 15px auto;
    padding: 10px 20px;
    background: #FFFFFF;
    border: 1px solid rgba(112, 124, 151, 0.25);
    box-sizing: border-box;
    box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05), 15px 15px 35px rgba(112, 124, 151, 0.05);
    font-weight: 500;
    font-size: 16px;
    color: #707C97;
    word-break: break-all;
    width: fit-content;
    border-radius: 10px 10px 0 10px;
}

.message {
    text-align: left;
    margin: 15px auto 15px 15px;
    padding: 10px 20px;
    background: #ECBF2C;
    box-shadow: 6px 6px 25px rgba(252, 203, 44, 0.25);
    border-radius: 0 10px 10px 10px;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    word-break: break-all;
    width: fit-content;
}



/* Person ////////////////////////////////////////////////////////////////////////////////////*/
.personWrapper {
    margin: 20px 0;
    background: #FFFFFF;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
}

.activeUser {
    background: #ECBF2C;
}

.activeUser>.textWrapper>div {
    color: #FFFFFF;
}

.activeUser>.person>.peronTime {
    color: #FFFFFF;

}

.person {
    display: flex;
    justify-content: space-between;
}

.personImg {
    width: 50px;
    margin-top: 10px;
    height: 50px;
}

.textWrapper {
    display: grid;
    grid-template-columns: 1fr 50px;
    padding: 0 10px 10px 10px;
}

.textWrapper>div {
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    color: #707C97;
    padding: 0 10px 0 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.count {
    display: block !important;
    padding: 0 !important;
    text-align: center !important;
    margin: auto 0 !important;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FF3366;
    box-shadow: 1px 1px 50px rgba(198, 27, 74, 0.15), 2px 2px 10px rgba(198, 27, 74, 0.1), 4px 4px 15px rgba(198, 27, 74, 0.05);
    ;
}

.count>span {
    font-weight: 500;
    font-size: 13px;
    text-transform: lowercase;
    color: #FFFFFF;
}

.person>div {
    text-align: start;
    margin-left: 15px;
    padding: 5px;
    height: 40px;
}

.person>div>img {
    border-radius: 50%;
    height: 100%;
}

.personName {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    margin-top: 5px;
    text-transform: capitalize;
    color: #0D1C2E;
}

.peronTime {
    margin-top: 5px;
    margin-right: 30px;
    font-size: 14px;
    line-height: 19px;
    text-transform: lowercase;
    justify-self: center;
    color: #707C97;
}




/* Message Block ////////////////////////////////////////////////////////////////////////////////////*/
.message__wrapper {
    margin: 0 0 20px 0;
    overflow: hidden;
    /*height: 100%;*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);

}

.avaWrapper {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.avaWrapper>img {
    width: 100%;
    height: 100%;
}

.chatHeader {
    background: #FAFBFF;
    border-radius: 6px 6px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(112, 124, 151, 0.1);
}

.chatHeader>div {
    display: flex;
    align-items: center;
    padding: 10px 25px;
}

.messages {
    background: #FFFFFF;
    height: 460px;
    overflow-y: scroll;
}

.message__input {
    width: 100%;
    position: relative;
}

.message__input>input {
    width: 100%;
    border: none;
    padding: 8px 0 5px 80px;
    border-top: 2px solid rgba(112, 124, 151, 0.1);
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;

    color: rgba(112, 124, 151, 1);
}

.message__input>input:focus {
    outline: none;
}

.send,
.plus {
    top: 5px;
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ECBF2C;
    border-radius: 50%;
    padding: 5px;

}

.send {
    right: 15px;
}

.plus {
    left: 15px;
}

.send>img,
.plus>img {
    width: 100%;
    filter: invert(100%) sepia(1%) saturate(23%) hue-rotate(75deg) brightness(104%) contrast(100%);
}


.open {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 42px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    background-color: #e5e5e5;
}

.open img {
    width: 30px;
    margin: 5px;

    height: 30px;
}

.open img:hover {
    cursor: pointer;
}

.fileWrapper {
    width: 250px;
}

.fileWrapper>img {
    width: 100%;
    cursor: pointer;
}

.fileWrapper>video {
    width: 100%;
}

.modalImg {
    display: block;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    padding: 4%;
}

.modalImg>img {
    max-height: 100%;
    width: auto;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.close>img {
    width: 100%;
}

.audioMessage {
    top: 5px;
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: 50px;
    padding: 5px;
    padding-top: 0;
}

.audioMessage img {
    width: 100%;
    height: 100%;
}

.audio {
    width: 250px;
}

.audioBlock {
    display: flex;
    align-items: center;
}

.writeDown {
    height: 30px;
    padding: 5px;
    margin-right: 10px;
}

.stopDown {
    height: 30px;
    padding: 5px;
}

.closed {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px 0;
}
.back{
    display: none;
}
@media screen and (max-width: 768px) {
    .chatWrapper{
        grid-template-columns: 1fr;
    }
    .none{
        display: none;
    }
    .back{
        display: block;
        width: 30px;
        cursor: pointer;
    }
    .back>img{
        width: 100%;
    }
}