.wrapper{
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 240px 1fr;
}
.feedBack{
    min-height: 75vh;
    padding: 50px 0;
    background: #FFFAEA;
    z-index: -1;
}
.feedBack>span{
    margin-top: 200px;
}
.user{
    margin: 60px 5% 50px 5%;
    min-height: 150px;
    background: rgba(236, 191, 44, 0.8);
    border-radius: 5px;
    position: relative;
    display: flex;
}
.imgWrapper{
    position: relative;
    width: 150px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px ;
}
.imgWrapper>img{
    width: 100%;
    height: 100%;
}
.userInfo{
    display: flex;
    justify-content: space-between;
}
.person{
    padding: 0 20px 0 20px;
}
.name{
    font-weight: bold;
    font-size: 36px;
    line-height: 207.9%;

    color: rgba(33, 51, 54, 0.8);
}
.specialty{
    font-weight: bold;
    font-size: 20px;
    color: #213336;
}
.education{
    font-weight: 500;
    font-size: 33px;
    color: #ECBF2C;
    margin-left: 55px;
}
.text{
    margin: 10px 5% 20px 82px;
    font-weight: normal;
    font-size: 20px;
    line-height: 180%;
    color: rgba(33, 51, 54, 0.8);
}

.answerWrapper{
    padding: 0 10px;
    margin: 15px 0;
}
.answerName{
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;

    color: #213336;
}
.answer{
    margin: 5px 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

    color: #213336;
}
.stars{
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #213336;
    display: flex;
    justify-content: space-between;
}
.nameWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}