.userWrapper{
    padding: 25px 8%;
    display: flex;
}
.user{
    display: grid;
    grid-gap: 2em;
    margin-right: 70px;
}
.user>button, .changePhoto{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    background: #FFFFFF;
    border: none;
    padding: 10px 15px;
    box-shadow: 0 2px 20px rgba(111, 111, 111, 0.15);
    border-radius: 12px;
    cursor: pointer;
}
.user>button:focus{
    outline: none;
}
.user>span{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.user>span>img{
    /*border-radius: 50%;*/
    /*width: 100%;*/
    height: 100%;
}
.nameWrapper{
    margin: auto 0;
}
.nameWrapper1{
    width: 400px;
}
.nameWrapper2{
    width: 700px;
    padding: 0 8%;
}
.nameWrapper2>textarea{
    width: 100%;
    min-height: 150px;
    padding: 5px 0 0 9px;
    /*font-family: 'Roboto', cursive;*/
    font-weight: 500;
    resize: vertical;
    font-size: 14px;
    line-height: 16px;
    background: #F8F8F8;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;

}
.select{
    margin-top: 15px;
}
.name{
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: rgba(33, 51, 54, 0.8);
    margin-bottom: 15px;
}
.linksWrapper{
    background: #F8F8F8;
    display: flex;
    justify-content: space-around;
}
.linksWrapperEdit{
    background: #FFFFFF;
    display: flex;
    justify-content: space-around;
}
.linksWrapper>a, .linksWrapperEdit>div{
    padding: 30px 130px 10px 130px;
    font-weight: bold;
    font-size: 34px;
    line-height: 44px;
    color: #CDCDCD;
    margin: 20px 0 15px 0;
}
.active{
    border-bottom: 3px solid #ECBF2C;
    color: #ECBF2C !important;
}
.consultant{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    margin-top: 10px;
    color: rgba(33, 51, 54, 0.8);
}
.file{
    display: none;
}
.fio>input{
    border: 1px none #000000;
    border-bottom-style: solid;
    margin: 0 5px 0 0;
    padding: 0 0 0 10px;

    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    width: 100%;
    color: rgba(33, 51, 54, 0.8);
}
.fio>input:focus{
    outline: none;
}
.btnWrapper{
    display: flex;
    padding: 0 8%;
    margin: 20px 0 50px 0;
}
.cancel{
    margin-right: 20px ;
}


@media screen and (max-width: 996px) {
    .consultant, .name{
        font-size: 23px;
    }
    .linksWrapper>a, .linksWrapperEdit>div{
        font-size: 28px;
        padding: 30px 90px 10px 90px;
    }
    .nameWrapper2{
        width: 70%;
        padding: 0 8%;
    }
}
@media screen and (max-width: 768px) {
    .consultant{
        font-size: 18px;
    }
    .linksWrapper>a, .linksWrapperEdit>div{
        font-size: 20px;
        padding: 30px 30px 10px 30px;
    }
    .nameWrapper2{
        width: 90%;
        padding: 0 8%;
    }
    .changePhoto{
        display: flex;
        text-align: center;
    }
}