.arrows{
    padding-bottom: 25px;
}

.cardsWrapper{
    padding: 80px 40px;
    display: block;
}
.cardsWrapper>div{
    text-align: center;
    justify-content: center;
    display: grid !important;
    grid-column-gap: 2em;
    grid-row-gap: 4em;
    grid-template-columns: repeat(auto-fit, 320px);
}
.prev, .next{
    border: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
}
.listWrapper{
    position: relative;
}
.prev>img, .next>img{
    border-radius: 50%;
    padding: 10px;
    margin: 0 auto;
    background: rgba(170, 139, 37, 0.5);
}
.prev{
    margin-right: 10px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
}
.next{
    margin-left: 10px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 25px;
}
.consultant{
    text-align: center;
    margin: 30px 0;
}
.header{
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 207.9%;
    color: #AA8B25;
    margin: 35px 0;
}
.imageWrapper{
    text-align: center;
}
.linksWrapper{
    position: relative;
    justify-content: center;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, 450px);
}
.linksWrapper>button{
    position: absolute;
    top: 0;
    left: 0;
}
.links{
    position: relative;
}
.links>div{
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    padding: 15px 0;
    background: rgba(170, 139, 37, 0.5);
}
.links>div>span{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    /*line-height: 207.9%;*/
    color: #FFFFFF;
}
.links>img{
    width: 100%;
}