.logoWrapper {
    display: flex;
}

.logo {
    text-decoration: none;
}

.lastChildWrapper {
    display: flex;
    align-items: center;
}

.forum {
    letter-spacing: 2px;
    margin-right: 15px;
    color: #4D5B5C;
    cursor: pointer;
}

.searchInput,
.enter {
    height: 30px;
    padding: 18px 0;
    background: #FAFBFC;
    border: 1.5px solid #ECBF2C;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.searchInput {
    margin-left: 70px;
    width: 210px;
    padding-left: 5px;
    padding-right: 30px;
}

.searchInput:focus {
    outline: none;
}

.enter {
    color: #000;
    padding: 18px 10px;
    text-decoration: none;

}

.register {
    margin: 0 15px 0 10px;
    height: 30px;
    background: #ECBF2C;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 5px 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.lang {
    font-size: 18px;
    font-weight: bold;
    line-height: 207.9%;

    letter-spacing: 2px;

    color: #4B4A4A;

    opacity: 0.2;
}

.kg {
    margin-left: 5px;
}

.uerWrapper {
    height: 20px;
    margin-right: 20px;
}

.uerWrapper>img {
    height: 100%;
}

.form {
    display: flex;
    position: relative;
}

.search {
    position: absolute;
    right: 10px;
    top: 5px;
    bottom: 5px;
    border: none;
    width: 18px;
    cursor: pointer;
    background: #fff url('https://image.flaticon.com/icons/svg/93/93642.svg') no-repeat center center;
}

.search:focus {
    outline: none;
}

.navbarIcon {
    display: none;
}

@media (max-width: 500px) {

    .form {
        display: none;
    }

    .navbarIcon {
        display: flex;
        cursor: pointer;
        height: 60px !important;
    }

    .lastChildWrapper {
        display: none;
    }

    .mobileWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .forum {
        margin-right: 0;
    }

    .enter {
        margin-top: 10px;
        width: 80px;
        text-align: center;
        display: flex;
        align-items: center;
        height: 30px;
        padding: 18px 10px;
        justify-content: center;
    }

    .mt10 {
        margin-top: 10px;
    }

    .register {
        margin: 0;
        height: 30px;
        background: #ECBF2C;
        border-radius: 10px;
        color: #FFFFFF;
        padding: 5px 10px;
        text-decoration: none;
        max-width: 160px;
        text-align: center;
        margin-top: 10px;
    }

    .searchInput {
        margin-left: 0;
        margin-top: 10px;
        padding-left: 10px;
    }

    .mobileSearch {
        position: relative;
    }

    .search {
        top: 10px;
        margin-top: 5px;
        width: 16px;
    }

    .uerWrapper {
        margin-right: 0;
        margin-top: 10px;
    }

    .searchInput,
    .enter {
        background: none;
    }
}


.wrapper {
    display: flex;
    justify-content: space-between;
}