.menu {
    z-index: 2;
    border: 1px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    /*right: 8px;*/
    background: #FFFFFF;
}