.wrapper{
    background: #ECBF2C;
    padding: 25px 35px;

}
.wrapper>div{
    display: grid;
    grid-gap: 8px;
}
.wrapper>div>div{
    cursor: pointer;
}
.last_footer>div{
    display: flex;
    align-items: center;
}
.last_footer>div>img{
    margin-right: 10px;
}