.wrapper {
    background: #ECBF2C;
    padding: 25px 10%;
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: auto;
}

.wrapper>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*grid-gap: 8px;*/
}

.wrapper>div>div {
    margin: 5px 0;
}

.last_footer>div {
    display: flex;
    align-items: center;
}

.last_footer>div>a {
    color: black;
}

.last_footer>div>img {
    margin-right: 10px;
}

.title {
    font-weight: bold;
    font-size: 18px;
    line-height: 207.9%;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-bottom: 2px solid #F61067;
    color: #66510C;
    padding: 0 15px 5px 0;
}

.centerText {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-indent: 4px;

    color: rgba(102, 81, 12, 0.4);
}

.logoWrapper {
    display: flex;
    align-items: center;
}

.logoWrapper>div:first-child {
    height: 100px;
}

.logoWrapper>div:last-child {
    height: 35px;
}

.logoWrapper>div>img {
    height: 100%;
}

@media (max-width: 500px) {

    .footerLogo {
        width: 40px;
        height: 40px !important;
    }

    .logoWrapper>div:first-child {
        height: 40px;
    }

    .logoWrapper {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }


    /* .agroLogo {
        width: 120px !important;
        height: 60px !important;
        margin-bottom: 30px;
    } */

    .logoWrapper div {
        margin-top: 10px;
    }

    .wrapper {
        padding: 20px;
        flex-direction: column;
    }

    .centerText {
        margin-top: 30px !important;
    }

    /* .wrapper>div:first-child {
        font-size: 14px;
    } */

    .wrapper>div:last-child {
        font-size: 14px;
        margin-top: 15px;
    }

    .mobileOrder2 {
        order: 2;
    }


    
/* .wrapper div> a {
    color: #fff !important;
} */


    /* .title {
        color:#fff;
    } */

    /* .centerText, .last_footer div a {
        color: #fff !important;
    } */
}

@media (max-width: 400px) {

    .logoWrapper {
        display: flex;
        flex-direction: column;
        margin: 5px;
    }

    /* .logoWrapper img {
        width: 50px;
        height: 40px;
    } */

    /* .wrapper>div:last-child {
        margin-left: 10px;
    } */

    /* .agroLogo {
        width: 100px !important;
        height: 60px !important;
        margin-bottom: 30px;
    } */
}