.wrapper{
    background: #ECBF2C;
    padding: 25px 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;

}
.wrapper>div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*grid-gap: 8px;*/
}
.wrapper>div>div{
    margin: 5px 0;
}
.last_footer{
    margin-left: 50px;
}
.last_footer>div{
    display: flex;
    align-items: center;
}
.last_footer>div>img{
    margin-right: 10px;
}
.title{
    font-weight: bold;
    font-size: 18px;
    line-height: 207.9%;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-bottom: 2px solid red;
    color: #66510C;
    padding: 0 15px 5px 0;
}
.centerText{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-indent: 4px;

    color: rgba(102, 81, 12, 0.4);
}
.logoWrapper{
    display: flex;
    align-items: center;
}
.logoWrapper>div:first-child{
    height: 100px;
}
.logoWrapper>div:last-child{
    height: 35px;
}
.logoWrapper>div>img{
    height: 100%;
}